:root {
  --primary: #5bccf6;
  --bg: #fcde67;
  --secondary: #030e12;
}
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}
header {
  background-color: var(--primary);
  color: var(--secondary);
  width: 100vw;
  text-align: center;
  margin-bottom: 4rem;
  font-size: 2rem;
  padding: 2rem;
  font-weight: bolder;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 80vw;
  height: 50vh;
  border-radius: 1rem;
  box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.3);
}
.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
input {
  width: 50vw;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  text-align: center;
}
button {
  padding: 1rem;
  background-color: var(--primary);
  width: 40vw;
  border-radius: 1rem;
  box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
}
.shortenedLink {
  margin-top: 6rem;
  font-size: 1.4rem;
}
footer {
  position: fixed;
  bottom: 0;
  padding: 2rem;
  font-size: 1.2rem;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .tab {
    flex-direction: row;
  }
  button {
    width: 20vw;
    padding: 1.5rem;
  }
  input {
    width: 40vw;
    padding: 1.5rem;
  }
}
